* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

:root {
    font-size: 62.5%;
    --color1: rgb(9, 9, 129);
    --brightLetters: white;
    --darkLetters: black;
}

html {
    height: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 1.6rem;
    overflow: overlay;
}

#btnTop {
    opacity: 0;
    visibility: hidden;

    transform: translateY(100%);
}

#btnTop.showButton {
    opacity: 100;
    visibility: visible;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: var(--color1);
    color: var(--brightLetters);
    border-radius: 5rem;
    padding: 1rem;
    transform: translateY(0);
    transition: .5s;
}

.topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--color1);
    color: var(--brightLetters);

    padding: 1rem 0;
}

.topHeader.scroll {
    position: fixed;
    width: 100vw;
}

.logo {
    display: flex;
}

.topTitle {
    font-size: 2rem;
}

.topHeader a {
    color: white;
}

.topUl {
    visibility: hidden;
    opacity: 0;
    align-items: center;
    gap: 3rem;

    transition: opacity 500ms;
    translate: translateY(100%);
}

body.menuExpanded {
    overflow: hidden;
}

body.menuExpanded > :not(header) {
    display: none;
}

body.menuExpanded .topUl {
    background-color: var(--color1);

    top: 0;
    left: 0;

    overflow: hidden;

    width: 100vw;
    height: 100vh;
    position: absolute;

    visibility: visible;
    translate: translateY(0);
    opacity: 100;
    
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-items: center;
    justify-content: center;
}

.menuExpanded li {
    overflow: hidden;
    margin: 2rem;
}



.topUl a {
    color: white;
}



main {
    margin: 3rem auto;
    width: min(125rem, 100%);
}

.stackSvg {
    margin: 0 auto;
}

article, article ul li, article ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

article .articleTitle {
    text-align: center;
    font-size: 2.5rem;
}

.articleSubTitle {
    font-size: 2rem;
}

.articleSubTitle.stack {
    text-align: center;
}

article p {
    text-align: justify;
    line-height: 2.5rem;
}

article a {
    color: black;
}

footer {
    margin: auto 0 0 0;
    padding: 2rem 0;
    background-color: black;
    color: white;
}

footer a {
    color: white;
}

footer .footerTitle {
    text-align: center;
    margin: 0 0 2rem 0;
}

footer .footerUl {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.flex {
    display: flex;
    gap: 3rem;
}

@media (min-width: 768px) {
    
    .btnLinks {
        display: none;
    }

    .topHeader {
        padding: 2rem;
        justify-content: space-between;
    }

    .logo {
        display: flex;
    }

    .topUl {
        display: flex;
        align-items: center;
        visibility: visible;
        opacity: 100;
        gap: 2rem;
    }

    .active {
        border-bottom: .1rem solid white;
    }

    .topLink {
        transition: .5s;
        padding: .5rem;
    }

    .topLink:hover {
        border-radius: .5rem;
        background-color: var(--brightLetters);
        color: var(--color1);
    }
}