* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

:root {
    font-size: 62.5%;
    --color1: rgb(9, 9, 129);
    --brightLetters: white;
    --darkLetters: black;
}

html {
    height: 100%;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: 1.6rem;
}

#btnTop {
    opacity: 0;
    visibility: hidden;

    transform: translateY(100%);
}

#btnTop.showButton {
    opacity: 100;
    visibility: visible;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: var(--color1);
    color: var(--brightLetters);
    border-radius: 5rem;
    padding: 1rem;
    transform: translateY(0);
    transition: .5s;
}

.topHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color1);
    color: var(--brightLetters);

    padding: 1rem 0;
}

.topHeader.scroll {
    position: fixed;
    width: 100vw;
}

.topTitle {
    font-size: 2rem;
}

.topHeader a {
    color: white;
}

.topUl {
    visibility: hidden;
    opacity: 0;
    align-items: center;
    gap: 3rem;

    transition: opacity 500ms;
    translate: translateY(100%);
}

.topUl.menuExpanded {
    background-color: var(--color1);

    top: 0;
    left: 0;

    overflow: hidden;

    width: 100vw;
    height: 100vh;
    position: fixed;

    visibility: visible;
    translate: translateY(0);
    opacity: 100;
    
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    justify-items: center;
    justify-content: center;
}

.menuExpanded li {
    margin: 2rem;
}

.menuExpanded:not(nav) {
    visibility: hidden;
}



.topUl a {
    color: white;
}

main {
    margin: 3rem auto;
    width: 90vw;
}

article, article ul li, article ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

article .articleTitle {
    text-align: center;
    font-size: 2.5rem;
}

.articleSubTitle {
    font-size: 2rem;
}

article p {
    text-align: justify;
    line-height: 2.5rem;
}

article a {
    color: black;
}

footer {
    margin: auto 0 0 0;
    padding: 2rem 0;
    background-color: black;
    color: white;
}

footer a {
    color: white;
}

footer .footerTitle {
    text-align: center;
    margin: 0 0 2rem 0;
}

footer .footerUl {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.flex {
    display: flex;
    gap: 3rem;
}